.divClass{
    text-align: center; 
    margin: 2rem;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(126,29,178,1) 28%, rgba(199,0,255,1) 84%, rgba(0,212,255,1) 99%); 
}